
body, div {
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

nav {
  margin-bottom: 20px;
}

button, input {
  outline: none;
}

button {
  color: darkgrey;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 7px;
  border-radius: 5px;
  transition: border-color .5s, transform .1s;
}

button:active {
  transform: scale(0.9);
}

button:hover {
  color: black;
  background-color: lightgrey;
}

